name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: 8.0
        extensions: mbstring, json
    - name: Install Composer dependencies
      run: composer install --no-interaction --prefer-dist
    - name: Run PHPCS
      run: ./vendor/bin/phpcs --standard=phpcs.xml || true
    - name: Run PHPUnit
      run: ./vendor/bin/phpunit --configuration tests/phpunit.xml || true
